/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  /* 1em = 10px in default browser settings */
}
html,
body {
  font-family: 'Cormorant Garamond', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 100%;
  margin: 0;
}
h2,
p {
  font-family: 'Montserrat', Helvetica, sans-serif;
}
h1,
h3,
h4,
h5 {
  font-family: 'Cormorant Garamond', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
  font-size: 12rem;
}
@media (max-width: 850px) {
  h1 {
    font-size: 7.2rem;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 5.4rem;
  }
}
h2 {
  font-size: 4.8rem;
  font-size: 48px;
}
h3 {
  font-size: 3.6rem;
  font-size: 36px;
}
h4 {
  font-size: 2.4rem;
  font-size: 24px;
}
h5 {
  font-size: 1.8rem;
  font-size: 18px;
}
h6 {
  font-size: 1.4rem;
  font-size: 14px;
  line-height: 2rem;
}
@media (max-width: 600px) {
  h6 {
    font-size: 1rem;
    font-size: 10px;
  }
}
p {
  font-size: 1.4rem;
  font-size: 14px;
  line-height: 2rem;
}
a {
  font-family: 'Montserrat', Helvetica, sans-serif;
}
footer {
  position: absolute;
  bottom: 0%;
  width: 100%;
}
.body-container {
  padding: 5% 20%;
}
@media (max-width: 850px) {
  .body-container {
    padding: 5% 15%;
  }
}
@media (max-width: 600px) {
  .body-container {
    padding: 5% 10%;
  }
  .body-container p {
    font-size: 1rem;
  }
}
.header-nav {
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333132;
  opacity: 75%;
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 0%;
}
@media (max-width: 600px) {
  .header-nav {
    padding: 4%;
  }
}
.nav a {
  position: relative;
  font-size: 1.6rem;
  color: #F9F2F3;
  background-color: #333132;
  text-decoration: none;
  margin-left: 50px;
}
.nav a:hover {
  color: #D6BE42;
  background-color: #333132;
}
.nav a.active {
  color: #9A4859;
  background-color: #333132;
}
.nav .icon {
  display: none;
}
@media (max-width: 600px) {
  .nav a {
    display: none;
  }
  .nav a.icon {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
  }
}
@media (max-width: 600px) {
  .nav.responsive {
    position: relative;
  }
  .nav.responsive a.icon {
    position: relative;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: right;
    padding-top: 20px;
    line-height: 1.4em;
  }
}
.design-header-nav {
  padding: 2%;
  height: 15%;
  background-color: #66303b;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 10px #d6d4d4;
}
.design-header-nav .design-nav a {
  position: relative;
  top: 30%;
  color: #F9F2F3;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 20px 10px;
}
@media (max-width: 600px) {
  .design-header-nav .design-nav a {
    visibility: hidden;
  }
}
.music-header-nav {
  padding: 2%;
  height: 15%;
  background-color: #D6BE42;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 10px #d6d4d4;
}
.music-header-nav .music-nav a {
  position: relative;
  top: 30%;
  color: #33181D;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 0 10px;
}
@media (max-width: 600px) {
  .music-header-nav .music-nav a {
    visibility: hidden;
  }
}
.initial-logo {
  font-family: 'Cormorant Garamond', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3.6rem;
  color: #D6BE42;
  text-decoration: none;
}
@media (max-width: 600px) {
  .initial-logo {
    font-size: 2.4rem;
  }
}
.initial-logo-music {
  font-family: 'Cormorant Garamond', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3.6rem;
  color: #33181D;
  text-decoration: none;
}
@media (max-width: 600px) {
  .initial-logo-music {
    font-size: 2.4rem;
  }
}
.basic-footer {
  background-color: #333132;
  color: #F9F2F3;
  padding: 20px;
  text-align: center;
  bottom: 0%;
  position: fixed;
  opacity: 75%;
}
.design-footer {
  background-color: #66303b;
  color: #F9F2F3;
  padding: 20px;
  text-align: center;
  bottom: 0%;
  position: fixed;
}
.music-footer {
  background-color: #D6BE42;
  color: #33181D;
  padding: 20px;
  text-align: center;
  bottom: 0%;
  position: fixed;
}
.bg {
  height: 100%;
  background-image: url("https://lvwood.github.io/images/Leslee2018small.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
@media (max-width: 600px) {
  .bg {
    background-position: right;
  }
}
.splash-title {
  color: #F9F2F3;
  padding: 10% 5%;
  position: fixed;
}
@media (max-width: 850px) {
  .splash-title {
    padding: 20% 5%;
  }
}
@media (max-width: 600px) {
  .splash-title {
    padding: 30% 5%;
  }
}
