/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  /* 1em = 10px in default browser settings */
}
html,
body {
  font-family: 'Cormorant Garamond', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 100%;
  margin: 0;
}
h2,
p {
  font-family: 'Montserrat', Helvetica, sans-serif;
}
h1,
h3,
h4,
h5 {
  font-family: 'Cormorant Garamond', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
  font-size: 12rem;
}
@media (max-width: 1200px) {
  h1 {
    font-size: 7.2rem;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 5.4rem;
  }
}
h2 {
  font-size: 4.8rem;
  font-size: 48px;
}
h3 {
  font-size: 3.6rem;
  font-size: 36px;
}
h4 {
  font-size: 2.4rem;
  font-size: 24px;
}
h5 {
  font-size: 1.8rem;
  font-size: 18px;
}
h6 {
  font-size: 1.4rem;
  font-size: 14px;
  line-height: 2rem;
}
@media (max-width: 600px) {
  h6 {
    font-size: 1rem;
    font-size: 10px;
  }
}
p {
  font-size: 1.4rem;
  font-size: 14px;
  line-height: 2.4rem;
}
a {
  font-family: 'Montserrat', Helvetica, sans-serif;
}
footer {
  position: absolute;
  bottom: 0%;
  width: 100%;
}
.header-nav {
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333132;
  opacity: 75%;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0%;
  z-index: 10;
}
@media (max-width: 600px) {
  .header-nav {
    padding: 4%;
  }
}
.nav a {
  position: relative;
  font-size: 1.6rem;
  color: #F9F2F3;
  background-color: #333132;
  text-decoration: none;
  margin-left: 50px;
}
.nav a:hover {
  color: #CCC5C6;
  background-color: #333132;
}
.nav a.active {
  color: #D6BE42;
  background-color: #333132;
}
.nav .icon {
  display: none;
}
@media (max-width: 600px) {
  .nav a {
    display: none;
  }
  .nav a.icon {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
  }
}
@media (max-width: 600px) {
  .nav.responsive {
    position: relative;
  }
  .nav.responsive a.icon {
    position: relative;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: right;
    padding-top: 20px;
    line-height: 1.4em;
  }
}
.sub-nav {
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333132;
  width: 100%;
  z-index: 10;
  top: 0%;
}
@media (max-width: 600px) {
  .sub-nav {
    padding: 4%;
  }
}
.nav a {
  position: relative;
  font-size: 1.6rem;
  color: #F9F2F3;
  background-color: #333132;
  text-decoration: none;
  margin-left: 50px;
}
.nav a:hover {
  color: #CCC5C6;
  background-color: #333132;
}
.nav a.active {
  color: #D6BE42;
  background-color: #333132;
}
.nav .icon {
  display: none;
}
@media (max-width: 600px) {
  .nav a {
    display: none;
  }
  .nav a.icon {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
  }
}
@media (max-width: 600px) {
  .nav.responsive {
    position: relative;
  }
  .nav.responsive a.icon {
    position: relative;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: right;
    padding-top: 20px;
    line-height: 1.4em;
  }
}
.initial-logo {
  font-family: 'Cormorant Garamond', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3.6rem;
  color: #D6BE42;
  text-decoration: none;
}
@media (max-width: 600px) {
  .initial-logo {
    font-size: 2.4rem;
  }
}
.basic-footer {
  background-color: #333132;
  color: #F9F2F3;
  padding: 20px;
  text-align: center;
  bottom: 0%;
  position: fixed;
  opacity: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.basic-footer a {
  color: #F9F2F3;
  text-decoration: none;
  font-family: 'Cormorant Garamond', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 0 5px;
}
@media (max-width: 600px) {
  .basic-footer a {
    font-size: 1rem;
    font-size: 10px;
  }
}
.sub-footer {
  background-color: #333132;
  color: #F9F2F3;
  padding: 20px;
  text-align: center;
  bottom: 0%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.sub-footer a {
  color: #F9F2F3;
  text-decoration: none;
  font-family: 'Cormorant Garamond', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 0 5px;
}
@media (max-width: 600px) {
  .sub-footer a {
    font-size: 1rem;
    font-size: 10px;
  }
}
.bg {
  height: 100%;
  background-image: url("https://lvwood.github.io/images/Leslee2018small.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
@media (max-width: 600px) {
  .bg {
    background-position: right;
  }
}
.splash-title {
  color: #F9F2F3;
  padding: 10% 5%;
  position: fixed;
}
@media (max-width: 1200px) {
  .splash-title {
    padding: 20% 5%;
  }
}
@media (max-width: 600px) {
  .splash-title {
    padding: 30% 5%;
  }
}
.tablink {
  width: 40%;
}
.download {
  padding: 50px 10% 0px 10%;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.download a {
  color: #333132;
  font-size: 1.4rem;
  line-height: 2;
}
.worksList {
  margin: 10px 10% 5% 10%;
}
@media (max-width: 600px) {
  .worksList {
    margin: 3% 5%;
  }
}
.item {
  padding: 8px 5%;
}
.item .title {
  line-height: 3rem;
}
.item .type {
  font-weight: bold;
}
.item .premiere {
  font-size: 1rem;
}
.item a {
  font-size: 1.4rem;
}
.press-section {
  margin: 2% 10% 5% 10%;
}
@media (max-width: 600px) {
  .press-section {
    margin: 3% 5%;
  }
}
.tab {
  overflow: hidden;
}
.tablink {
  color: #9A9596;
  font-family: 'Cormorant Garamond', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3.6rem;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2% 5%;
  font-size: 2.1rem;
  width: 33.3%;
  transition: 0.3s;
}
@media (max-width: 1200px) {
  .tablink {
    font-size: 1.6rem;
  }
}
@media (max-width: 600px) {
  .tablink {
    font-size: 1.4rem;
  }
}
.tablink:hover {
  background-color: #CCC5C6;
}
.tablink.active {
  background-color: #66303b;
  color: #F9F2F3;
}
.tabcontent {
  color: #333132;
  display: none;
  padding: 5%;
  text-align: left;
  background-color: #f8f8f8;
}
.list-heading {
  background-color: #66303b;
  color: #F9F2F3;
  padding: 10px;
}
.photo-container {
  display: flex;
  align-items: space-between;
  max-width: 100%;
}
@media (max-width: 600px) {
  .photo-container {
    flex-direction: column;
  }
}
.photo-section {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
@media (max-width: 600px) {
  .photo-section {
    flex-direction: row;
  }
}
.photo-section .thumbnail {
  width: 100%;
  height: auto;
  padding: 5px 2px;
}
@media (max-width: 600px) {
  .photo-section .thumbnail {
    width: 50%;
    padding-right: 20px;
  }
}
.photo-section .downloads {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  text-align: center;
}
.photo-section .downloads a {
  text-decoration: none;
  color: #9A4859;
  line-height: 1.6rem;
}
@media (max-width: 1200px) {
  .photo-section .downloads {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (max-width: 600px) {
  .photo-section .downloads {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}
@media (max-width: 1200px) {
  .downloads p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (max-width: 600px) {
  .downloads p {
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: left;
    font-weight: bold;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
}
.close {
  color: #CCC5C6;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 3.6rem;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #9A9596;
  text-decoration: none;
  cursor: pointer;
}
.mySlides {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #CCC5C6;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.6s ease;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.numbertext {
  color: #F9F2F3;
  font-size: 1.2rem;
  padding: 8px 12px;
  position: relative;
  top: 0;
}
img.demo {
  opacity: 0.6;
}
.active,
.demo:hover {
  opacity: 1;
}
.portfolio-container {
  position: relative;
  width: 80%;
  margin: 50px 10% 50px 10%;
}
@media (max-width: 600px) {
  .portfolio-container {
    width: 90%;
    margin: 20px 5% 50px 5%;
  }
}
.portfolio-container h3 {
  padding: 20px 0;
}
@media (max-width: 600px) {
  .portfolio-container h3 {
    text-align: center;
  }
}
.portfolio-sub-headings {
  cursor: pointer;
  padding: 20px 0;
}
.portfolio-sub-headings a {
  text-decoration: none;
  font-size: 3rem;
  font-family: 'Cormorant Garamond', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-weight: 700;
  color: #BCA73A;
}
@media (max-width: 600px) {
  .portfolio-sub-headings {
    text-align: center;
    padding: 20px 0;
  }
}
.portfolio-sub-headings a:hover {
  color: #9A9596;
}
.portfolio-container img {
  max-width: 100%;
  object-fit: cover;
  max-height: 400px;
}
@media (max-width: 600px) {
  .portfolio-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.row h6 {
  display: none;
  text-align: center;
  color: #66303b;
  font-weight: bold;
  font-family: 'Montserrat', Helvetica, sans-serif;
}
@media (max-width: 600px) {
  .row h6 {
    font-size: 2.1rem;
    line-height: 1.5;
  }
}
@media (max-width: 600px) {
  .row {
    display: block;
  }
}
.portfolio-container .item {
  padding: 10px;
}
@media (max-width: 600px) {
  .portfolio-container .item {
    border: 1px solid #CCC5C6;
    margin: 5px 0;
  }
}
.design-link {
  cursor: pointer;
}
.design-link:hover {
  opacity: 50%;
}
.portfolio-container {
  width: 80%;
  margin: 50px 10%;
}
.back {
  width: 100%;
  padding: 20px 0;
  font-size: 1.8rem;
  font-weight: bold;
}
.back a {
  text-decoration: none;
  color: #BCA73A;
}
.back a:hover {
  color: #9A9596;
}
.tab {
  width: 100%;
}
.portfolio-container .tablink {
  width: 25%;
  height: 90px;
}
@media (max-width: 1200px) {
  .portfolio-container .tablink {
    height: 70px;
    font-size: 1.6rem;
  }
}
@media (max-width: 600px) {
  .portfolio-container .tablink {
    font-size: 1.2rem;
  }
}
.portfolio-item-container {
  display: flex;
  align-items: space between;
}
.portfolio-item-container .wide-itemImg {
  max-width: 50%;
  height: auto;
}
@media (max-width: 1200px) {
  .portfolio-item-container .wide-itemImg {
    display: block;
    max-width: 100%;
  }
}
@media (max-width: 1200px) {
  .portfolio-item-container {
    display: block;
  }
}
.portfolio-item-container img {
  margin-right: 20px;
}
@media (max-width: 1200px) {
  .portfolio-item-container img {
    width: 100%;
    object-fit: scale-down;
  }
}
.portfolio-item-container .wide {
  max-width: 50%;
}
.item-intro h3,
.item-intro h4 {
  padding-bottom: 20px;
}
.moreinfo-container {
  display: flex;
  align-items: space-between;
  justify-content: center;
  padding-top: 10px;
}
@media (max-width: 1200px) {
  .moreinfo-container {
    flex-direction: column;
  }
}
.moreinfo-container .row {
  width: 33%;
  display: flex;
  align-items: space-between;
  justify-content: center;
}
@media (max-width: 1200px) {
  .moreinfo-container .row {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .moreinfo-container .row {
    display: block;
  }
  .moreinfo-container .row img {
    width: 100%;
  }
}
.moreinfo-container .photo-section {
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 1px solid #9A9596;
  margin: 10px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .moreinfo-container {
    width: 100%;
    top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
.moreinfo-container .photocaption {
  text-align: center;
}
.mySlides img {
  object-fit: contain;
  height: 100%;
}
.modalcaption {
  color: #F9F2F3;
  position: relative;
  text-align: center;
  padding-top: 20px;
}
.moreinfo-container .basiccaption {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  text-align: center;
}
