.design-container {
    position: relative;
    width: 80%;
    margin: 50px 10% 50px 10%;
    .design-row {
        display: flex;
        justify-content:stretch;
        align-items: flex-start;
        // .test2();
        .design-link {
            cursor: pointer;
        }
        .design-link:hover {
            opacity: 50%;
        }
        @media @mobile {
            display: block;  
        }
    }
    .design-item {
        padding: 10px;
        border: .5px solid @light-gray;
        margin: 10px;
        // .test();
    }
    img {
        max-width: 100%;
        object-fit: cover;
        max-height: 1200px; //this controls that collage look. 
        @media @mobile {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media @mobile {
        width: 90%;
        margin: 20px 5% 50px 5%;
    }
}








