.basic-footer {
    background-color: @off-black;
    color: @off-white;
    padding: 10px;
}
.design-footer {
    background-color: @berry;
    color: @off-white;
    padding: 10px;
}
.music-footer {
    background-color: @mustard;
    color: @blackberry;
    padding: 10px;
}