.basic-footer {
    background-color: @off-black;
    color: @off-white;
    padding: 20px;
    text-align: center;
    bottom: 0%;
    position: fixed;
    opacity: 75%;
}
.sub-footer {
    background-color: @off-black;
    color: @off-white;
    padding: 20px;
    text-align: center;
    bottom: 0%;
    position: relative;
}
