
.bg {
  height: 100%;
  background-image: url("https://lvwood.github.io/images/Leslee2018small.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  @media @mobile {
    background-position: right;
  }
}

.splash-title {
  color: @off-white;
  padding: 10% 5%;
  position: fixed;
  @media @tablet {
    padding: 20% 5%;
  }
  @media @mobile {
    padding: 30% 5%;

  }
}
