
.main-splash {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: @blackberry;
  opacity: 75%;
  z-index: 1;
  @media @tablet {
    opacity: 100%;
  }
}
#splash-title {
  color: @off-white;
  margin: 5%;
}

.splash-image {
  position: fixed;
  top: 7%;
  height: auto;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  margin: 1% 0%;
  border: 3px solid @berry; 
  @media @tablet {
    position: relative;
  }
}
