//styling for works page

.worksList {
    border: 1px solid @berry;
    margin: 5% 10%;
    @media @mobile {
        margin: 3% 5%;
    }
}

.list-heading {
    background-color: @berry;
    color: @off-white;
    padding: 10px 5%;  
}

.item {
    padding: 10px 5%;
    .title {
        line-height: 3rem;
    }
    .type {
        font-weight: bold;
    }
    .premiere {
        font-size: 1rem;
    }
}

.item a {
    font-size: 1.4rem;
}