//styling for works page
.tablink {
    width: 40%;
}

.download {
    padding: 50px 10% 0px 10%;
    text-align: left;
    display: flex;
    flex-direction: column;

    a {
        color: @off-black;
        font-size: 1.4rem;
        line-height: 2;
    }
}

.worksList {
    // border: 1px solid @berry;
    margin: 10px 10% 5% 10%;
    @media @mobile {
        margin: 3% 5%;
    }
}
//tabcontent styled on press.less



.item {
    padding: 8px 5%;
    .title {
        line-height: 3rem;
    }
    .type {
        font-weight: bold;
    }
    .premiere {
        font-size: 1rem;
    }
}

.item a {
    font-size: 1.4rem;
}