.portfolio-container {
    position: relative;
    width: 80%;
    margin: 40px 10% 40px 10%;
    @media @mobile {
        width: 90%;
        margin: 20px 5% 50px 5%;
    }
}

.back {
    width: 100%;
    padding: 20px 0;
    font-size: 1.8rem;
    font-weight: bold;
    a {
        text-decoration: none;
        color: @dark-mustard;  
    }
    .back a:hover {
        color: @mid-gray;
    }
    
}

.portfolio-page-header {
    width: 100%;
    padding: 30px 0; 
}

.portfolio-heading {
    padding-bottom: 20px;
}
.portfolio-subheading {
    padding-bottom: 20px;
}

.portfolio-item-container {
    display: flex;
    align-items: space between;
    @media @tablet {
        display: block;
        }
    .portfolio-header-img {
        width: 50%;
        height: auto;
        margin-right: 20px;
        @media @tablet {
            width: 100%;
            object-fit: contain;
        }
    }
    .item-intro {
        .inline-link {
            a {
                font-size: 1.4rem;
            }
        }
        @media @tablet {
            padding-top: 30px;
        }
    }
    .port-intro-img {
        max-width: 100%;
        margin: 20px 0;
        padding: 30px;
        border: .25px solid @light-gray;
    }
}

.port-photo-container {
    // .test2();
    width: 100%;
    display: flex;
    align-items: space-between;
    justify-content: stretch;
    padding-top: 20px;
    @media @tablet {
        display: block;
    }
    .port-row {
        display: flex;
        align-items: space-between;
        justify-content: flex-start;
        width: 50%;
        @media @tablet {
            width: 100%;
        }
    }
   
    .port-photo-section {
        border: .25px solid @light-gray;
        margin: 10px;
        padding: 10px 5px;
        // .test();
        .thumbnail {
            max-width: 100%;
            padding: 5px 2px;
            @media @mobile {
                width: 100%;
                padding-right: 20px;
            }
        }
        .thumbnail:hover {
            opacity: 50%;
            cursor: pointer;
        }
    }
    .photocaption {
        text-align: center;
    }
    .video-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        // .test();
    }
}


.mySlides img {
    max-width: 80%;
    margin: 0 10%;
    object-fit: contain;
    // height: 100%;
}

.modalcaption {
    color: @off-white;
    position: relative;
    text-align: center;
    padding-bottom: 20px;

}

.design-link {
   padding: 30px 0;
    a {
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 3rem;
    }
    
}    

.layout-break {
    width: 100%;
    height: 50px;
}

