//styling for press kit page

.press-section {
    // border: 1px solid @berry;
    margin: 2% 10% 5% 10%;
    @media @mobile {
        margin: 3% 5%;
    }
}
.tab {
    overflow: hidden;
   
}
.tablink {
    // background-color: @dark-gray;
    color: @mid-gray;
    font-family: 'Cormorant Garamond', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3.6rem;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2% 5%;
    font-size: 2.1rem;
    width: 33.3%;
    transition: .3s;
    @media @tablet {
        font-size: 1.6rem;
    }
    @media @mobile {
        font-size: 1.4rem;
    }
}
.tablink:hover {
    background-color: @light-gray;
}
.tablink.active {
    background-color: @berry;
    color: @off-white;
}
.tabcontent {
    color: @off-black;
    display: none;
    padding: 5%;
    text-align: left;
    background-color: #f8f8f8
}
.list-heading {
    background-color: @berry;
    color: @off-white;
    padding: 10px;  
}


//thumbnail row display
.photo-container {
    display: flex;
    align-items: space-between;
    max-width:100%;
    @media @mobile {
        flex-direction: column;
    }
}

.photo-section {
    // .test();
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    @media @mobile {
        flex-direction: row;
    }
    .thumbnail {
        width: 100%;
        height: auto;
        padding: 5px 2px;
        @media @mobile {
            width: 50%;
            padding-right: 20px;
        }
    }
    .downloads {
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        text-align: center;
        a {
            text-decoration: none;
            color: @light-berry;
            line-height: 1.6rem;
        }
        @media @tablet {
            font-size: 1rem;
            line-height: 1.5rem;
        }
        @media @mobile {
            font-size: 1.2rem;
            line-height: 1.6rem;
        }   
    }
}
.downloads p {
    @media @tablet {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    @media @mobile {
        font-size: 1.2rem;
        line-height: 1.6rem;
        text-align: left;
        font-weight: bold;
    }  
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    
}
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
    // max-width: 1200px;

}
.close {
    color: @light-gray;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 3.6rem;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: @mid-gray;
    text-decoration: none;
    cursor: pointer;
}
.mySlides {
    display: none;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: @light-gray;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    user-select: none;
    -webkit-user-select: none;
}
.next {
    right: 0;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.6);
}
.numbertext {
    color: @off-white;
    font-size: 1.2rem;
    padding: 8px 12px;
    position: relative;
    top: 0;
}
img.demo {
    opacity: 0.6;
}
.active,
.demo:hover {
    opacity: 1;
}