//styling for press kit page

.press-section {
    // border: 1px solid @berry;
    margin: 2% 10% 5% 10%;
    @media @mobile {
        margin: 3% 5%;
    }
}
// 
.list-heading {
    background-color: @berry;
    color: @off-white;
    padding: 10px;  
}


//thumbnail row display
.photo-container {
    display: flex;
    align-items: space-between;
    max-width:100%;
    @media @mobile {
        flex-direction: column;
    }
}

.photo-section {
    // .test();
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    @media @mobile {
        flex-direction: row;
    }
    .thumbnail {
        width: 100%;
        height: auto;
        padding: 5px 2px;
        @media @mobile {
            width: 50%;
            padding-right: 20px;
        }
    }
    .thumbnail:hover {
        opacity: 50%;
        cursor: pointer;
    }
    .downloads {
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        text-align: center;
        a {
            text-decoration: none;
            color: @light-berry;
            line-height: 1.6rem;
        }
        @media @tablet {
            font-size: 1rem;
            line-height: 1.5rem;
        }
        @media @mobile {
            font-size: 1.2rem;
            line-height: 1.6rem;
        }   
    }
}
.downloads p {
    @media @tablet {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    @media @mobile {
        font-size: 1.2rem;
        line-height: 1.6rem;
        text-align: left;
        font-weight: bold;
    }  
}
